.block {
  background-color: var(--Dark-desaturated-blue); 
  width: 140px;
  height: 135px;
  color: var(--Soft-red);
  font-size: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  position: relative;
  box-shadow: 0px 10px 0px 0px var(--Very-dark-blue-black);
  -webkit-box-shadow: 0px 10px 0px 0px var(--Very-dark-blue-black);
  -moz-box-shadow: 0px 10px 0px 0px var(--Very-dark-blue-black);
}
.block .top-page,.bottom-page{
    /* background-color: var(--Dark-desaturated-blue); */
    width: 140px;
    height: calc(135px/2);
    position: absolute;
    border-radius: 6px;
    z-index: 1;
    
}
.top-page{
    top: 0;
    background-color: var(--Dark-desaturated-blue);
    display: flex;
    justify-content: center;
    align-items: center;

}
.top-page p{
    position: absolute;
    top: 50%;  
    
}
.bottom-page{
    bottom: 0; 
    transform: perspective(360) rotateX(-360deg);
    transition: 3s all;    
    transform-origin: middle center; 
}
.changeState{
    
}
.bottom-page p{
    position: fixed;
    bottom: calc(135px / 2 - 45px);
    /* display: none; */
   
    
}



.all-separator{
    display: flex;
    position: absolute;
    align-items: center;
    z-index: 3;
   
}   
.holef,.holeb{
    /* opacity: 20%; */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: hsla(235, 15%, 14%, 0.918);;
    position: absolute;
    

}
.holef{
    left: -5px;
}
.holeb{
    right: -5px;
}
.separator{
    margin:5px;
    width: 130px;
    height: 1px;
    background-color: var(--Very-dark-blue-black);
    opacity: 50%;
  
    box-shadow: 0px 3px 329px 163px var(--Very-dark-blue-black) inset;
-webkit-box-shadow: 0px 3px 329px 100px var(--Very-dark-blue-black);
-moz-box-shadow: 0px 3px 329px 163px var(--Very-dark-blue-black) inset;
    

}



