.ClockCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.ClockCard h1{
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom:40px ;
    text-align: center;
}
.counter{
    margin: 50px;
    display: flex;
    gap:30px;
}
.day p, .hour p, .minute p, .second p{
    text-align: center;
    text-transform: uppercase;
    margin: 65px 0 0;
    letter-spacing: 2px;
}
.social-media{
    padding-top: 50px;
    padding: 30px;
}
.social-media a{
    padding: 20px;
}
@media (max-width:375px) {
    .ClockCard{
        width: 100%;
        height: 100%;
    }
    .counter{
        display: flex;
        gap: 15px;
    }
    .day p, .hour p, .minute p, .second p{
        text-align: center;
        text-transform: uppercase;
        margin: -15px 0 0;
        letter-spacing: 2px;
    }
    .word{
        margin-top: 30px !important;
        font-size: 10px;
    }
    
    
    
}