.ClockCard{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ClockCard h1{
    letter-spacing: 5px;
    text-transform: uppercase;
}
.counter{
    margin: 50px;
    display: flex;
    gap:30px;
}
.day p, .hour p, .minute p, .second p{
    position: relative;
    padding: 50px;
}